
<!--menu for pc-->
<div class="ui small menu pc">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Language <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">English</a>
        <a class="item">Russian</a>
        <a class="item">Spanish</a>
      </div>
    </div>
    <div class="item">
      <div class="ui primary button">Sign Up</div>
    </div>
  </div>
</div>

<!--menu for tablet and smartphone-->
<div class="ui sidebar inverted vertical menu">
  <a class="item">
    <i class="user outline icon left floated"></i>My account
  </a>
  <a class="item">
    <i class="tags icon"></i>カテゴリーから探す
  </a>
  <a class="item">
    <i class="bullhorn icon"></i>News
  </a>
</div>

<!-- 上部ナビゲーションメニュー -->
<div class="ui top fixed menu sp">
  <div class="menu">
    <div id="js-sidebar" class="item"><i class="icon large grey content"></i></div>
  </div>
</div>

<script>
    $('#js-sidebar').click(function () {
        $('.ui.sidebar')
            .sidebar('toggle');
    })

</script>

